.spacer {
    padding-bottom: 80px;
    background-color: black;
    margin-left: -8px;
    margin-right: -8px;
}

.footer {
    font-family: 'Roboto', sans-serif
}

.footer > .bottom-features > .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer > .bottom-features > .buttons > .teams button {
    background-color: rgb(71, 71, 71);
    color: white;
    font-size: medium;
    padding: 15px 68.8px 15px 68.8px;
    border: 1px solid rgb(153, 153, 153);
    outline: 1px solid rgb(153, 153, 153);
    transition: none;
    margin-left: -8px;
}

.footer > .bottom-features > .buttons > .edu button { 
    background-color: rgb(71, 71, 71);
    color: white;
    font-size: medium;
    padding: 15px 68.8px 15px 68.8px;
    border: 1px solid rgb(153, 153, 153);
    outline: 1px solid rgb(153, 153, 153);
    transition: none;
}

.footer > .bottom-features > .buttons > .privacy button {
    background-color: rgb(71, 71, 71);
    color: white;
    font-size: medium;
    padding: 15px 68.8px 15px 68.8px;
    border: 1px solid rgb(153, 153, 153);
    outline: 1px solid rgb(153, 153, 153);
    transition: none;
}

.footer > .bottom-features > .buttons > .writing button {
    background-color: rgb(71, 71, 71);
    color: white;
    font-size: medium;
    padding: 15px 68.8px 15px 68.8px;
    border: 1px solid rgb(153, 153, 153);
    outline: none;
    transition: none;
    margin-right: -8px;
}

.footer > .bottom-features > .buttons > .edu button b, .teams button b, .privacy button b, .writing button b {
    font-size: large;
    font-weight: bolder;
}